

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http//www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: headss">
        <title th:text="${titulo}">Show vehicle</title>
        <meta charset="UTF-8">
    </head>
        
    
    <body>
        <h3 th:text="${titulo}"></h3>
        
        <ul>
            <li th:text="${vehicle.identificador}"></li> 
            <li th:text="${vehicle.serie}"></li> 
            <li th:text="${vehicle.placa}"></li> 
            <li th:text="${vehicle.cuenta}"></li> 
            <li th:text="${vehicle.fechaNacimiento}"></li>
            <li th:text="${#dates.format(vehicle.fechaNacimiento, 'dd/MM/yyyy')}"></li> 
            <li th:text="${#calendars.format(vehicle.fechaNacimiento, 'dd-MM-yyyy')}"></li> 
            <li th:text="${vehicle.pais}"></li>
            <li th:text="${vehicle.pais.id}"></li>
            <li th:text="${vehicle.pais.nombre}"></li>
        </ul>
       
        <div>Usos</div>
        
        <ul>
            <li th:each="uso: ${vehicle.usos}" th:text="${uso}"></li>
        </ul>
                
        </form>
    </body>
</html>