

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http//www.w3.org/1999/xhtml">
    <head>
        <title>Plantilla</title>
        <meta charset="UTF-8">
    </head>
    
    
    <body>
        
        <header th:fragment="header">
            <h1 th:text="#{plantilla.titulo}">Control de clientes</h1>
        </header>
        
        
          <footer th:fragment="footer">
              <p> [[ #{plantilla.pie-pagina} ]]<a href="decflow.com" target="_blank">Decflow.com</a></p>
        </footer>
    </body>
</html>