

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http//www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:fragment="headss">
        <title>Plantilla</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/popper.min.js}"/></script>
        <script th:src="@{/webjars/bootstrap/js/boostrap.min.js}"/></script>
    </head>
    
    
    <body>
        
        <header th:fragment="header">
            <h1 th:text="#{plantilla.titulo}">Control de clientes</h1>
        </header>
        
        
          <footer th:fragment="footer">
              <div>
                  <br/>
                  <a th:href="@{/personas/(lang=es)}">Es</a> |
                  <a th:href="@{/personas/(lang=en)}">En</a>
                  <span>[[ #{plantilla.pie-pagina} ]]<a href="decflow.com" target="_blank">Decflow.com</a></span>
                  <form method="post" th:action="@{/logout}">
                      <b>User:</b><span sec:authentication="name">Usuario que hizo login</span> |
                      <b>Roles:</b><span sec:authentication="principal.authorities">Roles</span> |
                      <a href="#" onclick="this.parentNode.submit();">Logout</a>
                  </form>
              </div>
        </footer>
    </body>
</html>