

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http//www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: headss">
        <title>Variables</title>
        <meta charset="UTF-8">
    </head>
    
    
    <body>
        
        <h1>[[${miCadena}]]</h1>
        <h1>[[${miNumero}]]</h1>
        
         <h1>[[${texto1}]]</h1>
         
          <h1>[[${texto2}]]</h1>
          
           <h1>[[${texto3}]]</h1>
       

    </body>
</html>