/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9/11/2020, 04:02:57 PM
    Author     : luis
*/


h4.color-rojo{
    color: red;
}


h5.color-azul{
    color: blue;
}