

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http//www.w3.org/1999/xhtml">
    <head>
        <title>Persona</title>
        <meta charset="UTF-8">
    </head>
    
    
    <body>
        
        <header th:replace="layout/plantilla :: header"></header>
        
        <a th:href="@{/agregar}">Crear persona</a>
        <div th:if="${listAux != null and !listAux.empty}">
            <table border="1">
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Telefono</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
                    <tr th:each="persona : ${listAux}">
                        <td th:text="${persona.nombre}">Nombre</td>
                        <td th:text="${persona.apellido}">Apellido</td>
                        <td th:text="${persona.email}">Email</td>
                        <td th:text="${persona.telefono}">Telefono</td>
                        <td><a th:href="@{/editar/} + ${persona.id}" th:text="Editar"/></td>
                        <td><a th:href="@{/eliminar/} + ${persona.id}" th:text="Eliminar"/></td>

                     </tr>
            </table>
        </div>
        
        
        <footer th:replace="layout/plantilla :: footer"></footer>

        
    </body>
</html>